# If these files are modified, tag only those users.
/src/                   @slacrherbst
/include/               @slacrherbst
/python/pysmurf/core/   @slacrherbst
/docker/                @slacrherbst
/server_scripts/        @slacrherbst
/tests/core             @slacrherbst
/releaseGen.py          @slacrherbst
/README.*.md            @slacrherbst
/.github/               @swh76 @tristpinsm @slacrherbst

# If no match, tag these.
* @tristpinsm @swh76