# @swh76 and @eyyoung24 will be the default owners for everything.
# Unless a later match takes precedence, they will be requested
# for review when someone opens a pull request.
*                       @swh76 @eyyoung24

# @jesusvasquez333 and @slacrherbst owns the code related
# to the core, dockers, startup scripts, and github and travis
# automation scrips. Only them will be requested for review.
/src/                   @jesusvasquez333 @slacrherbst
/include/               @jesusvasquez333 @slacrherbst
/python/pysmurf/core/   @jesusvasquez333 @slacrherbst
/docker/                @jesusvasquez333 @slacrherbst
/server_scripts/        @jesusvasquez333 @slacrherbst
/tests/                 @jesusvasquez333 @slacrherbst
/.travis.yml            @jesusvasquez333 @slacrherbst
/releaseGen.py          @jesusvasquez333 @slacrherbst
/.github/               @jesusvasquez333 @slacrherbst
/README.*.md            @jesusvasquez333 @slacrherbst
