# @swh76 will be the default owners for everything. Unless
# a later match takes precedence, they will be requested
# for review when someone opens a pull request.
* @aer7 @swh76

# @aer7 and @slacrherbst owns the code related
# to the core, dockers, and startup scripts.
# Only them will be requested for review.
/src/                   @aer7 @slacrherbst
/include/               @aer7 @slacrherbst
/python/pysmurf/core/   @aer7 @slacrherbst
/docker/                @aer7 @slacrherbst
/server_scripts/        @aer7 @slacrherbst
/tests/core             @aer7 @slacrherbst
/releaseGen.py          @aer7 @slacrherbst
/README.*.md            @aer7 @slacrherbst

# @swh76, @aer7 and @slacrherbst owns the
# github related scripts. All of them will be requested
# for review.
/.github/               @swh76 @aer7 @slacrherbst
