# dynamic package version
python/pysmurf/_version.py

*.pyc
*.dat
*.png

# Editor
*~
.idea/
*.swp

# Wheels
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
